.first-section {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(135deg, rgb(67, 97, 238), rgb(114, 9, 183));;
  color: white;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}

p {
  display: flex;
  text-align: center;
  justify-content: center;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo i {
 font-size: 1.5rem;
}


.second-section {
  display: flex;
  flex-direction: column;
}

.text-box {
  width: 80%;
  max-width: 500px;
  height: 100px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-left: 50px;
}
 input::placeholder {
  text-align: start;
  color: #999;
  padding-left: 10px;
 }



.third-section {
  display: flex;
  flex-direction: column;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 90px;
}