* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to right bottom,rgb(103, 84, 242) 10%,rgb(209, 57, 233));
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.form-card {
  background-color: white;
            border-radius: 12px;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
            padding: 30px;
            transition: transform 0.3s ease;
}

h1 {
  color: #333;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 600;
}

p {
  margin-bottom: 25px;
  text-align: center;
}

.form-group {
  margin-bottom: 25px;
}

label {  
 display: block;
 margin-bottom: 8px;
 font-weight: 500;
 color: #444;
}

input {
  border-radius: 12px;
  padding: 10px;
  width: 300px;
  border-style: solid 1px;
}

.form-footer {
  font-size: small;
}

.submit-btn {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}

.form-gender {
  display: flex;
  margin-bottom: 25px;
  width: 20px;
  height: 20px;
  gap: 20px;
}